html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Style Body **/
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 320px;
    max-height: 320px;
}

#grid {
    flex: 1 1 auto;
}